<!Doctype html>

<html>

    <head>
        <link rel = "stylesheet" href = "\static\css\MT.css"/>

    </head>

    <body>

        <div class = "Footer">

            <div class = "Footer1">

                <div class ="textlogo" >
                    <a href = "{% url 'Home' %}"><h3>Make<span>Trip</span></h3></a>
                    <h5>Best travel Agency<h5>

                </div>

                <div class = "link">
                    <h3>Useful Link<h3>
                    <ul type = "none">

                        <li><a href = "{% url 'Home' %}">HOME</a></li>
                        <li><a href = "{% url 'Destination' %}"> DESTINATION</a></li>
                        <li><a href = "{% url 'Packages' %}">PACKAGES</a></li>
                        <li><a href = "{% url 'Blog' %}">BLOG</a></li>
                        <li><a href = "{% url 'About' %}">ABOUT</a></li>
    
                    </ul>

                </div>

                <div class = "popularD">
                    <h3>Popular Destination</h3>
                    <br>
                    <h4>India</h4>
                    <h4>Nepal</h4>
                    <h4>London</h4>
                    <h4>Brazil</h4>

                </div>

                <div class = "contact">
                    <h3>Contacts</h3>

                    <h4> Mo. Number: 7089755870 <br>
                        ssidigital@gmail.com<br>
                        Address: SSI Digital Class, Indore, India
                    </h4>
                    

                </div>

            </div>


        </div>


    </body>

</html>